body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left
}
.paragraph {
    
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 16px
}

h1 {
    font-family: Playfair Display;
    font-weight: bold;
    font-size: 48px;
}

h2 {
    font-family: Playfair Display;
    font-size: 30px;
}

pre {
    font-family: "Open Sans", sans-serif;
        font-size: 16px;
        line-height: 2.5;
}